{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "globals": {
    "google": "readonly",
    "moment": "readonly"
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": false
      }
    ]
  }
}
