<?php

namespace App\Controller;

use Facebook\Facebook;
use Cake\ORM\TableRegistry;

class LoginController extends AppController {

    public function index() {
        $this->viewBuilder()->layout('login');

        $session = $this->request->session();
        
        if ($session->read('participant')) {
            return $this->redirect(['controller' => 'pages', 'action' => 'home']);
        }
    }

    public function fblogin() {
        $session = $this->request->session();

        $users = TableRegistry::get('Users');
        $query = $users->find();

        $facebook = new Facebook([
            'app_id' => '***',
            'app_secret' => '***',
            'default_graph_version' => 'v2.5'
        ]);

        $helper = $facebook->getJavaScriptHelper();

        try {
            $accessToken = $helper->getAccessToken();
        } catch (Facebook\Exceptions\FacebookResponseException $e) {
            echo 'Graph returned an error: ' . $e->getMessage();
            exit;
        } catch (Facebook\Exceptions\FacebookSDKException $e) {
            echo 'Facebook SDK returned an error: ' . $e->getMessage();
            exit;
        }

        $client = $facebook->getOAuth2Client();

        try {
            $longAccessToken = $client->getLongLivedAccessToken($accessToken);
        } catch (Facebook\Exceptions\FacebookSDKException $e) {
            echo $e->getMessage();
            exit;
        }
        
        if (!isset($longAccessToken)) {
            return $this->redirect(['action' => 'index']);
        }

        $facebook->setDefaultAccessToken($longAccessToken);
        $session->write('fb_access_token', $longAccessToken);
        $session->write('userID', $helper->getUserId());
        
        try {
            $response = $facebook->get('/me?fields=name,events', $longAccessToken);
            $fbUser = $response->getDecodedBody();
        } catch (Facebook\Exceptions\FacebookResponseException $e) {
            echo 'Graph returned an error: ' . $e->getMessage();
            exit;
        } catch (Facebook\Exceptions\FacebookSDKException $e) {
            echo 'Facebook SDK returned an error: ' . $e->getMessage();
            exit;
        }

        $session->write('participant', 'false');

        foreach ($query as $user) {
            if ($fbUser['name'] == $user->name) {
                $session->write('participant', 'true');
                return $this->redirect(['controller' => 'pages', 'action' => 'home']);
            }
        }
    }

}
