// Declare here your base styles

* {
  box-sizing: border-box;
  text-align: center;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 300;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

h1 {
  font-size: 5em;
  font-weight: 300;
}

h2 {
  font-size: 2.8em;
  margin-bottom: 10px;
  font-weight: 300;
}

ul {
  padding: 0;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.4em;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
}

#accueil-logo-lines {
  max-height: 60vh;
  width: auto;
  max-width: 60vw;
  position: absolute;
  opacity: 0.3;
  z-index: -6;
}

@media screen and (orientation: portrait) {
  #accueil-section .container-fluid .section-content {
    flex-direction: column;
    height: 70%;
  }
}

#accueil-section {
  .background {
    top: 0;

    &-image {
      transform: rotate(180deg);
    }
  }

  .container-fluid {
    .section-content {
      .info-box {
        &:first-child p:first-child,
        &:first-child p:last-child {
          font-size: 1em;
          line-height: 0.5em;
        }

        &:first-child p:last-child {
          line-height: 0.9em;
        }
      }
    }
  }
}

#itineraire-section {
  #maps-container {
    width: 80%;
    height: 45vh;
    margin-bottom: 10px;

    #maps {
      width: 100%;
      height: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
  }
}

#contact-section {
  .background {
    bottom: 0;
  }

  .contact-zone {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .description-zone {
      .description-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .description-photo {
        margin: 10px;
        max-width: 150px;
        max-height: 150px;
        border-radius: 50%;
        width: auto;
        padding: 15px;
        transition: all 0.3s;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #itineraire-section .description-zone {
    margin: 0;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #contact-section {
    .background {
      height: 15vh;
    }

    .contact-zone {
      flex-direction: column;
      margin: 0 0 25px;

      .description-zone {
        margin: 1vh;

        .description-content {
          .description-text {
            font-size: 13px;
            margin: 0 !important;
            line-height: 13px;
          }
        }

        .description-photo {
          margin: 2px;
          max-width: 55px;
          max-height: 55px;
          padding: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .large-button {
    margin: 8px;
  }
  #itineraire-section .description-zone {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  #contact-section .contact-zone .description-zone .description-content .description-text {
    font-size: 13px;
    margin: 2px 0;
    line-height: 13px;
  }
  #contact-section .contact-zone .description-zone .description-content .description-title {
    font-size: 1.2em;
  }
  #contact-section .contact-zone .description-zone .description-photo {
    margin: 0 12px;
    max-width: 80px;
    max-height: 80px;
    padding: 5px;
  }
}

@media screen and (max-width: 1250px) {
  #itineraire-section #maps-container {
    width: 100%;
  }
  #contact-section .contact-zone {
    justify-content: space-between;
  }
}
